/* --------------------
| MAIN CSS OVERWRITES |
-------------------- */
/* fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@300;400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');

/* variables: */
:root {
  --text: #707070;
  --text-light: #616988;
}

/* bootstrap color overwrites */
.btn-warning {
  color: #ffffff;
  background-color: #ffa000;
  border-color: #ffa000;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #e59000;
  border-color: #e59000;
}

.btn-info {
  color: #ffffff;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #0298db;
  border-color: #0298db;
}

/* table of contents: */
#page-mast h1 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* fonts and text */
h1, h2, h3 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* fix bootstrap issues */
.nav-tabs, .nav-pills {
  background-color: none;
}

/* edit look of activity blocks */
.section li.snap-activity.modtype_quiz, .section li.snap-activity.modtype_assign {
  margin: 0 1%;
  border-radius: 20px;
}

/* modals */
.modal-float-right {
  position: relative;
  float: right;

  &>img:first-child {
    width: 250px;
    position: relative;
    margin: 0 0 20px 20px;
    border: 3px solid #000;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 0px rgba(181, 196, 207, 0.8));

    &+button {
      padding: 0;
      position: absolute;
      top: -15px;
      right: -15px;

      &>div {
        width: 46px;
        height: 46px;
        line-height: 30px;
        background: #00C3FF;
        border: 3px solid #000;
        border-radius: 100px;
        filter: drop-shadow(5px 5px 0px rgba(181, 196, 207, 0.8));
      }
    }
  }
}

.modal-float-left {
  position: relative;
  float: left;

  &>img:first-child {
    width: 250px;
    position: relative;
    margin: 0 20px 0 0;
    border: 3px solid #000;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 0px rgba(181, 196, 207, 0.8));

    &+button {
      padding: 0;
      position: absolute;
      bottom: -15px;
      left: -15px;

      &>div {
        width: 46px;
        height: 46px;
        line-height: 30px;
        background: #00C3FF;
        border: 3px solid #000;
        border-radius: 100px;
        filter: drop-shadow(5px 5px 0px rgba(181, 196, 207, 0.8));
      }
    }
  }
}

/* callouts */
.point-of-interest {
  margin: 10px 10px 10px 30px;
  background: #f2f2f2;
  padding: 5px;
}

/* overwrites */
mark {
  background-color: transparent;
  background-image: url('https://media-ed-online.github.io/course-files-repo/courses/art-sci-games/graphics/other/underline.png');
  background-size: 100% 8px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

dfn {
  background-color: transparent;
  background-image: url('https://media-ed-online.github.io/course-files-repo/courses/art-sci-games/graphics/other/highlighter-yellow.png');
  background-size: 100% 100%;
  padding: 0.2em 0.4em;
  font-style: normal;
  font-weight: bold;
}

blockquote {
  border-left-color: #ff5671;
  background-color: rgba(255, 86, 113, 0.1);
}

hr {
  background-color: transparent;
  background: url('https://media-ed-online.github.io/course-files-repo/courses/art-sci-games/graphics/other/divider.gif') no-repeat top center;
  height: 20px;
  border: none !important;
}
