/* --------------------
| MAIN CSS OVERWRITES |
-------------------- */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* variables: */
:root {
  --text: #707070;
  --text-light: #616988;
}

/* table of contents: */
#page-mast h1 {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
}

nav#course-toc ol#chapters {
  list-style-type: none;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
}

nav#course-toc ol#chapters li span.sectionnumber {
  display: none;
}

/* topics */
li.section h2.sectionname {
  visibility: hidden;
}
li.section .summary h2, li.section .summary h3, li.section .summary h4, li.section .summary h5 {
  font-family: 'Varela Round', sans-serif !important;
  text-transform: uppercase !important;
}
.font-overwrite {
  font-family: 'Varela Round', sans-serif !important;
  text-transform: uppercase !important;
}

/* edit look of assignment activity */
.section li.snap-activity.modtype_assign {
  margin: 1% 0;
  border-radius: 20px;
  border-top-color: #34cccc;
}

/* bootstrap color overwrites */
.btn-warning {
  color: #ffffff;
  background-color: #ffa000;
  border-color: #ffa000;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #e59000;
  border-color: #e59000;
}

/*.btn-info {
  color: #ffffff;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #0298db;
  border-color: #0298db;
}*/

/* fix bootstrap issues */
.nav-tabs, .nav-pills {
  background-color: none;
}
