/* ---------------------------
| STEAM EMBED CSS OVERWRITES |
--------------------------- */
:root {
  --brand-blue: #00C3FF;
  --brand-green: #81C208;
  --brand-green-darker: #679B06;
  --brand-orange: #FF6A00;
}

/* responsive embed: */
/* original: https://codepen.io/torgaddon/pen/RBxWar */
.steam-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  display: block;
}

.steam-embed iframe,
.steam-embed object,
.steam-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* re-style embed: */
/* orginal: https://store.akamai.steamstatic.com/public/css/styles_widget.css?v=EdUe4UoNgES6&l=english */
#widget {
  border: 1px solid var(--brand-green-darker);
  border-radius: 15px;
  background-color: var(--brand-green) !important;
  background-image: url(/public/images/v6/steam_ico.png);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 5px;
}
