/* --------------------
| MAIN CSS OVERWRITES |
-------------------- */
/* fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

/* variables: */
:root {
 --text: #707070;
 --text-light: #616988;
}

/* table of contents: */
#page-mast h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-color: #FF9A3D;
}
nav#course-toc ol#chapters {
  list-style-type: none;
}
nav#course-toc ol#chapters li span.sectionnumber {
  display: none;
}
