/* -----------------------
| BOOKS CSS OVERWRITES |
----------------------- */
/* fonts */
@import url("https://use.typekit.net/fvs4xfj.css");

/* variables: */
:root {
 --text: #707070;
 --text-light: #616988;
}

/* headings: */
h1, h2, h3, .h5p-element {
  font-family:  droid-sans, sans-serif; 
  color: var(--text);
}
h3 {
  padding: 5px;
  margin-left: -1rem;
  background-color: #343A40;
  color: #FFF;
}

/* hide activity navigation: */
div.activity-navigation {
  visibility: hidden;
}
