/* -----------------------
| MODULES CSS OVERWRITES |
----------------------- */
/* variables: */
@import url("https://use.typekit.net/fvs4xfj.css");
:root {
 --text: #707070;
 --text-light: #616988;
}

/* table of contents: */
#page-mast * {
    font-family:  droid-sans, sans-serif;
}
nav#course-toc ol#chapters li:not(:nth-of-type(3n+1)) {
  border-bottom: 1px solid #dee2e6;
}
