/* -----------------------
| MODULES CSS OVERWRITES |
----------------------- */
/* variables: */
@import url("https://use.typekit.net/fvs4xfj.css");
:root {
 --text: #707070;
 --text-light: #616988;
}

/* table of contents: */
#page-mast * {
    font-family:  droid-sans, sans-serif;
}
nav#course-toc #toc-desktop-menu-heading {
  background-color: #362f2d;
  color: #fff;
}
nav#course-toc ol#chapters {
  list-style-type: none;
}
nav#course-toc ol#chapters li span.sectionnumber {
  display: none;
}
