/* -----------------------
| MODULES CSS OVERWRITES |
----------------------- */
/* variables: */
@import url("https://use.typekit.net/fvs4xfj.css");
:root {
 --text: #707070;
 --text-light: #616988;
}

/* alter block features: */
#page-mast * {
    font-family:  droid-sans, sans-serif;
}
